In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(2,21,2):
    print(f"2 * {i //2} ={i}")

2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20

In [21]:
for i in range (11):
    print(str(i) +  """: i'm happy """)

0: i'm happy
1: i'm happy
2: i'm happy
3: i'm happy
4: i'm happy
5: i'm happy
6: i'm happy
7: i'm happy
8: i'm happy
9: i'm happy
10: i'm happy

In [27]:
for i in range (11):
    print(f'{i}' +": i am happy")

0: i am happy
1: i am happy
2: i am happy
3: i am happy
4: i am happy
5: i am happy
6: i am happy
7: i am happy
8: i am happy
9: i am happy
10: i am happy

In [47]:
name = ('sara' ,'aisha','sehrish','hafsa')

In [49]:
name

('sara', 'aisha', 'sehrish', 'hafsa')

In [51]:
for i ,name in enumerate(name):
    print(f'{i} : {name}')

0 : sara
1 : aisha
2 : sehrish
3 : hafsa

In [53]:

# Initial inventory dictionary
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich Dad Poor Dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

# Function to add a new book to the inventory
def add_book(title, price, quantity):
    if title in inventory:
        print(f"The book '{title}' already exists in the inventory.")
    else:
        inventory[title] = {"price": price, "quantity": quantity}
        print(f"The book '{title}' has been added to the inventory.")

# Function to get all book titles
def get_all_titles():
    return list(inventory.keys())

# Function to remove books that are out of stock
def remove_out_of_stock_books():
    out_of_stock_books = [title for title, details in inventory.items() if details["quantity"] == 0]
    for book in out_of_stock_books:
        del inventory[book]
        print(f"The book '{book}' has been removed as it is out of stock.")

# Example usage
# Add a new book
add_book("To Kill a Mockingbird", 15.99, 4)

# Get all book titles
print("All book titles:", get_all_titles())

# Remove out-of-stock books
# Example: Set a book's quantity to 0 to simulate out of stock
inventory["Harry Potter"]["quantity"] = 0
remove_out_of_stock_books()

# Print the updated inventory
print("Updated inventory:", inventory)

The book 'To Kill a Mockingbird' has been added to the inventory.
All book titles: ['The Great Gatsby', 'Rich Dad Poor Dad', 'Harry Potter', 'To Kill a Mockingbird']
The book 'Harry Potter' has been removed as it is out of stock.
Updated inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'To Kill a Mockingbird': {'price': 15.99, 'quantity': 4}}

In [65]:
add_book( "my book",54.30,5)

The book 'my book' has been added to the inventory.

In [63]:
print("All books titles:" , get_all_titles())

All books titles: ['The Great Gatsby', 'Rich Dad Poor Dad', 'To Kill a Mockingbird']

In [55]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8},
 'To Kill a Mockingbird': {'price': 15.99, 'quantity': 4}}

In [59]:
print("updated inventory:", inventory)

updated inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'To Kill a Mockingbird': {'price': 15.99, 'quantity': 4}}