## ***Why do we use for loop in python?***

***A for loop in Python is used to iterate over a sequence (like a list, tuple, string, or range) and execute a block of code repeatedly for each item in the sequence. It helps automate repetitive tasks, making the code more concise and efficient***

In [1]:
# Tuple
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [3]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[4])

1
2
3
4
5

In [4]:
for i in my_tuple:
    print(i)

1
2
3
4
5

In [5]:
for name in my_tuple:
    print(name)

1
2
3
4
5

In [9]:
# List
my_list = ['apple', 'banana', 'cherry']
my_list

['apple', 'banana', 'cherry']

In [11]:
for fruit in my_list:
    print(fruit)

apple
banana
cherry

In [13]:
# String
my_string = "hello"
my_string

'hello'

In [15]:
for i in my_string:
    print(i)

h
e
l
l
o

In [17]:
cities = ['karachi','hyderabad', 'islamabad', 'quetta','lahore']

In [19]:
for city in cities:
    print(city)

karachi
hyderabad
islamabad
quetta
lahore

In [21]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4])

karachi
hyderabad
islamabad
quetta
lahore

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [29]:
for i in range(2,21,2):
    print(f"2 * {i//2} = {i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [31]:
2/2

1.0

In [33]:
2//2

1

In [35]:
for i in range(3,31,3):
    print(f'3 * {i//3} = {i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [37]:
for i in range(10):
    print('''I'm Happy''')

I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy

In [39]:
for i in range(10):
    print(i + ''': I'm Happy''')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
for i in range(10):
    print(str(i) + ": I'm Happy")

In [ ]:
for i in range(0):
    print(str(i) + ": I'm Happy")

In [ ]:
for i in range(51,71):
    print(str(i) + ''': I'm Happy''')

In [44]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [46]:
for index, city in enumerate(cities):
    print(f'{index} : {city}')

0 : karachi
1 : hyderabad
2 : islamabad
3 : quetta
4 : lahore

## ***Nested for loop***

In [49]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [51]:
visited_cities = ['islamabad', 'multan','faisalabad','quetta','peshawar']
visited_cities

['islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [53]:
for city in cities:
    for visited_city in visited_cities:
        print(city, visited_city)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

In [55]:
cities_tuple = ('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')
cities_tuple

('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')

In [57]:
visited_cities_tuple = ('islamabad', 'multan','faisalabad','quetta','peshawar')
visited_cities_tuple

('islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar')

In [59]:
for city in cities_tuple:
    for visited_city in visited_cities_tuple:
        print(city, visited_city)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

In [61]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}
employee.items()
# employee.keys()
# employee.values()

dict_items([('name', 'sara'), ('email', 'abc@gmail.com'), ('education', 'master')])

In [63]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}

# for i in employee.items():
#     print(i)


for key,value in employee.items():
    print(key,value)

name sara
email abc@gmail.com
education master

In [65]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}
for key in employee.keys():
    print(key)

name
email
education

In [67]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}

for value in employee.values():
    print(value)

sara
abc@gmail.com
master

## ***while loop***

In [ ]:
# num = 0
# while num < 5:
#     print("loop is running : ", num)

In [69]:
num = 0
while num < 5:
    print("loop is running : ", num)
    num += 1
print('--->', num)

loop is running :  0
loop is running :  1
loop is running :  2
loop is running :  3
loop is running :  4
---> 5

In [71]:
num = 1
while num <= 5:
    print("loop is running : ", num)
    num += 1
print('--->', num)

loop is running :  1
loop is running :  2
loop is running :  3
loop is running :  4
loop is running :  5
---> 6

In [77]:
cities_to_visit = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
    
print(cities_to_visit)

Enter city to visit: quit

[]

In [75]:
cities_to_visit

['karachi', 'lahore', 'islamabad']

## ***Nested While loop***

In [79]:
# Define the tuples
cities = ('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')
visited_cities = ('islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar')

# Initialize the index for cities_tuple
i = 0

# Outer while loop for cities_tuple
while i < len(cities):
    # Initialize the index for visited_cities_tuple
    j = 0
    
    # Inner while loop for visited_cities_tuple
    while j < len(visited_cities):
        print(cities_tuple[i], visited_cities_tuple[j])
        j += 1  # Move to the next visited city
    
    i += 1  # Move to the next city in cities_tuple

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

## **String Formatting**

In [81]:
name = 'sara'
email = 'abcd@gmail.com'

In [83]:
"Name: {}, Email: {}".format(name,email)

'Name: sara, Email: abcd@gmail.com'

In [85]:
"Name: {0}, Email:{1}".format(name,email)

'Name: sara, Email:abcd@gmail.com'

In [89]:
"Name: {name}, Email: {email}".format(name=name,email=email)

'Name: sara, Email: abcd@gmail.com'

In [87]:
"Name: {Name}, Email: {Email}".format(Name=name,Email=email)

'Name: sara, Email: abcd@gmail.com'

In [91]:
f'Name:{name}, Email:{email}'

'Name:sara, Email:abcd@gmail.com'

In [93]:
print("Name:", name,"Email:", email)

Name: sara Email: abcd@gmail.com