In [ ]:
##Q1..cerate a new tuple by concatenating the first and last elements of my_tuple.(ussing for loop)

In [33]:
my_tuple = ((1,2,3),[4,5,6],('apple','banana','cherry'),[7,8,9])

In [1]:
my_tuple = ((1,2,3),[4,5,6],('apple','banana','cherry'),[7,8,9])
 
for i in my_tuple:
      print(i)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [35]:
my_tuple

((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [ ]:
##Q2..

In [3]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich Dad Poor Dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

In [444]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2}}

In [5]:
def add_new_book(title, price,quantity):
    if title  in inventory:
        print(f"The book '{title}' is in stock")
    else:
        inventory[title] = {"price":price ,"quantity":quantity}
        print(f"New'{title}' book added")

In [7]:
add_new_book("My book" ,45.2,4)

New'My book' book added

In [9]:
def all_books_details():
    return list(inventory.items())

In [11]:
print(all_books_details())

[('The Great Gatsby', {'price': 10.99, 'quantity': 5}), ('Rich Dad Poor Dad', {'price': 8.99, 'quantity': 8}), ('Harry Potter', {'price': 12.5, 'quantity': 2}), ('My book', {'price': 45.2, 'quantity': 4})]

In [13]:
out_of_stock_books = [title for title , detials in inventory.items() if detials ["quantity"] == 0]

In [15]:
out_of_stock_books

[]

In [17]:
def remove_out_of_stock_books():
    out_of_stock_books = [title for title , detials in inventory.items() if detials ["quantity"] == 0]
    for book in out_of_stock_books:
     del inventory[book]
     print(f"This Book '{book}'is now out of stock.")

In [19]:
inventory["My book"]["quantity"] == 0
remove_out_of_stock_books()

In [23]:
print("updated inventory",inventory)

updated inventory {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'My book': {'price': 45.2, 'quantity': 4}}

In [25]:
##Q3

products = { 101: {"name":"Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
            102:{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
            103: {"name": "Coffee Maker","category": "Home Appliances", "price": 80, "stock": 30} }
##• Increase the stock of the "Shirt: product (add 50 more units)
##• Add a new product (e.g., &quot;Smartphone&quot;)

In [27]:
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [35]:
products.items()

dict_items([(101, {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}), (102, {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200}), (103, {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30})])

In [53]:
def increase_stock(product_name, quantity):
     for product_id,details in products.items():
        if details["name"] == product_name:
            details["stock"] += quantity
            print(f"Stock of '{product_name}' increased by {quantity}. New stock: {details['stock']}")
        else:
           print(f"Product '{product_name}' not found.")

In [55]:
increase_stock("Shirt", 10)

Product 'Shirt' not found.
Stock of 'Shirt' increased by 10. New stock: 210
Product 'Shirt' not found.

In [57]:

def add_product(product_id, name, category, price, stock):
    if product_id in products:
        print(f"Product ID {product_id} already exists.")
    else:
        products[product_id] = {"name": name, "category": category, "price": price, "stock": stock}
        print(f"Product '{name}' added with ID {product_id}.")

In [61]:
add_product(104 , "Smartphone" ,"Electronics" ,3000 , 150)

Product ID 104 already exists.

In [63]:
##Q4...
shopping_list =["apple","banana","apple","orange","banana","grape"]
set (shopping_list)

{'apple', 'banana', 'grape', 'orange'}

In [65]:
##Q5...
course_A ={"jhon","Alice","Bob","David"}
course_B ={"Alice","Eve","Charile","David"}

In [970]:
 New_list_of_student_enroll_in_course_B = course_A - course_B
print(New_list_of_student_enroll_in_course_B)

{'Bob', 'jhon'}

In [ ]:
##method 1

In [67]:
New_list_of_student_enroll_in_course_B = course_A.symmetric_difference(course_B)

In [69]:
print(New_list_of_student_enroll_in_course_B)

{'Charile', 'Eve', 'Bob', 'jhon'}

In [ ]:
##method 2

In [71]:
course_A ^ course_B

{'Bob', 'Charile', 'Eve', 'jhon'}

In [ ]:
##Q6...

In [75]:
sum_of_evens = 0
for i in range (1,51):
    if i % 2 == 0:
        sum_of_evens = sum_of_evens + i 
        
print("All sum of even numbers between 1 and 50",sum_of_evens)

All sum of even numbers between 1 and 50 650

In [77]:
##Q 7...
table_number = (int(input("Enter number")))
for i in range(1,11):
    print(f'{table_number} * {i} = {i*table_number}')

Enter number 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [79]:
##Q 8...
number =int(input("Enter a number"))
i = 1
while i <= 10:
    output = number ** i
    print(f"{number} ^ {i} = {output}")
    i = i + 1

Enter a number 5

5 ^ 1 = 5
5 ^ 2 = 25
5 ^ 3 = 125
5 ^ 4 = 625
5 ^ 5 = 3125
5 ^ 6 = 15625
5 ^ 7 = 78125
5 ^ 8 = 390625
5 ^ 9 = 1953125
5 ^ 10 = 9765625

In [81]:
##9..
number = int(input( "Enter a number to start countdown"))
while number >= 0:
    print(number)
    number -= 1
    
print("Countdown finish! ...")

Enter a number to start countdown 5

5
4
3
2
1
0
Countdown finish! ...

In [83]:
##Q 10...

Pattern_of_star = int(input("Enter the number"))
Pattern_of_star = Pattern_of_star + 1
star = '*'
for i in range (1 ,Pattern_of_star):
     print(star)
     star = star + "*"

Enter the number 4

*
**
***
****