In [18]:
#Q1..
age = int(input( "Enter your Age" ))
credit =int(input("Enter your Credit score" ))
income =int(input("Enter your income in US dollor"))

if(credit >=650) and (age >=18) and (income >=30000):
    print("Your are eligible for a loan")
elif (credit_score >= 700) and (income >= 25000):
    print("Your are eligible for loan")
else:
 print("You are not eligible for loan")

Enter your Age 18
Enter your Credit score 30000
Enter your income in US dollor 25000

Your are eligible for loan

In [20]:
#Q2..
age = int(input("Enter your Age: "))

if (age < 18):
   print("You are underage")
else:
    experience = float(input("Enter your experience in years: "))
    if (experience >= 10):
        print("You have a lot of experience.")
    elif (experience >= 5 and exp < 10):
        print("You have moderate experience.")
    elif (experience >= 2 and exp < 5):
        print("You are relatively new.")
    elif (experience < 2):
        print("You are just starting out.")

Enter your Age:  18
Enter your experience in years:  6

You have moderate experience.

In [43]:
#Q3..
#A)
variable1 =str(input("Enter same memory address"))
variable2 =str(input( "Enter different memory address"))
if (id(variable1 )) ==  (id(variable2)):
    print("Same mamory address ")
else:
    print("Different memory address")   
                  

print (id(variable1))
print (id(variable2))

Enter same memory address 5
Enter different memory address 5

Same mamory address
140726853768704
140726853768704

In [59]:
#Q4..

emailAddress = input("Enter your email address: ")
i = 0
for i in range(len(emailAddress)):
    a = emailAddress[i]
    if (a == "@") or (a == "."):
        print("This email address is Valid.")
        break
    else: 
        print("This email address is not valid.")
        break

Enter your email address:  salma

This email address is not valid.

In [19]:
# Q5..
x = (11,22.333,"apple",[1,2,3],("a","b"))
print ("The data type of tuple : " + str(x))
y = list(map(type ,x))
print ("The data type of tuple :" + str(y))
print("Final output of elements :" + str(y))

The data type of tuple : (11, 22.333, 'apple', [1, 2, 3], ('a', 'b'))
The data type of tuple :[<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'tuple'>]
Final output of elements :[<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'tuple'>]

In [ ]:
# Q6..